.header {
  height: 20%;
  min-height: fit-content;
  background-color: red;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.sidebarbtn {
  margin: 5px;
}

.username {
  margin: 5px;
}

.username a {
  margin: 5px;
}

.SearchBar {
  margin-top: 10px;
  text-align: center;
  align-content: center;
}

.ItemSearchDisplay {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MenuSidebar {
  color: white;
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.MenuSidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.MenuSidebar a:hover {
  color: #f1f1f1;
}

.MenuSidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.NewItemsTest {
  margin: 5% 0px 20px 5%;
  padding: 5px;
  border: red solid 5px;
  display: grid;
  text-align: right;
  gap: 5px;
}

.NewItemsTest a {
  text-align: left;
}
