.header {
    height: 19.8%;
    min-height: fit-content;
    background-color: white;
    border-bottom: 0.0625rem solid #e0e0e0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5%;
    -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    margin-top: 0%;
}

.productInputs {
    text-align: left;
    margin-left: 35%;
}

.input button {
    margin-left: 20%;
}

input {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    display: inline-block;
    width: 150px;
    text-align: right;
}

label {
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    min-width: 150px;
    color: #404EED;
}

.sidebarbtn {
    margin: 5px;
}

.username {
    margin: 5px;
}

.username a {
    margin: 5px;
}

.MenuSidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

input[type="text"] {
    border-radius: 100px;
    cursor: text;
    font-size: 16px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0.0625rem solid #e0e0e0;
}