.header {
    height: 19.8%;
    min-height: fit-content;
    background-color: #23272A;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5%;
    -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    margin-top: 0%;
}

.username {
    padding-top: 0.8%;
    padding-right: 0.8%;
}

a:link,
a:visited {
    text-decoration: none;
    color: #7289da;
    padding-top: 0.8%;
    font-size: 20px;
}

.openbtn {
    align-items: center;
    background-color: #7289da;
    border: 0;
    color: white;
    /* border-radius-right: 20px;*/
    border-bottom-right-radius: 20px;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    margin-left: 0;
    padding-left: 18px;
    padding-right: 20px;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
}

.home {
    font-weight: bold;
    padding-top: 1.2%;
}

.sidebarbtn {
    margin: 0%;
}

.MenuSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #23272A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.MenuSidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #7289da;
    display: block;
    transition: 0.3s;
}

.MenuSidebar a:hover {
    color: #f1f1f1;
}

.MenuSidebar b {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: red;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.MenuSidebar b:hover {
    color: red;
}

.closebtn {
    right: 10px;
}