    body {
        margin: 0%;
        background-color: #2C2F33;
    }
    
    .header {
        height: 20%;
        min-height: fit-content;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .username {
        margin: 5px;
    }
    
    .username a {
        margin: 5px;
    }
    
    .MainBody {
        height: 80%;
        display: grid;
        gap: 50px;
    }
    
    .SearchBar {
        margin-top: 40px;
        text-align: center;
        align-content: center;
    }
    
    .NewItems {
        margin: 0% 5% 0% 5%;
        display: inline-flex;
        justify-content: flex-start;
        background-color: white;
        border-radius: 20px;
        -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
        box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    }
    
    .PopularItems {
        margin: 0% 5% 0% 5%;
        display: inline-flex;
        justify-content: flex-start;
        background-color: white;
        border-radius: 20px;
        -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
        box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    }
    
    .SeeMorebtn {
        padding-top: 18%;
        margin-left: 5px;
    }
    
    .NewItemsTest {
        margin: 15px 15px 15px 15px;
        padding: 5px;
        display: grid;
        text-align: right;
        gap: 5px;
        background-color: #F6F6F6;
        border-radius: 20px;
        -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
        box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    }
    
    .NewItemsTest a {
        text-align: left;
    }
    
    .MenuSidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .MenuSidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #7289da;
        display: block;
        transition: 0.3s;
    }
    
    .MenuSidebar a:hover {
        color: #f1f1f1;
    }
    
    .MenuSidebar .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        margin-top: 1.2%;
        margin-left: 50px;
        font-size: 25px;
        color: #7289da;
    }
    
    .MenuSidebar b {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #7289da;
        display: block;
        transition: 0.3s;
    }
    
    .MenuSidebar b:hover {
        color: red;
    }
    
    input[type="text"] {
        border-radius: 100px;
        cursor: text;
        /*font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;*/
        font-size: 16px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
        box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    }
    
    input[type="submit"] {
        align-items: center;
        background-color: #F6F6F6;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #7289da;
        cursor: pointer;
        display: inline-flex;
        /*font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;*/
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        -webkit-box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
        box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.37);
    }